HEDERA_NETWORK=testnet

# Make sure that the Operator details below match the Guardian Operator
# account so that token association can still work on the Guardian side.
HEDERA_OPERATOR_ACCOUNT_ID=0.0.123456
HEDERA_OPERATOR_PRIVATE_KEY=1234

GUARDIAN_API_URL=http://localhost:3000/api/v1

API_SECRET_KEY=1234567890
ENCRYPTION_KEY=1234567890

API_URL=http://localhost:3000
HIDE_STATUS=false
TEST_AUTH_URL=http://localhost:3000/api/testAuth
