HEDERA_NETWORK=testnet

# Make sure that the Operator details below match the Guardian Operator
# account so that token association can still work on the Guardian side.
HEDERA_OPERATOR_ACCOUNT_ID=0.0.999999999
HEDERA_OPERATOR_PRIVATE_KEY=012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345

GUARDIAN_API_URL=http://localhost:4200/api/v1

# Disable HMAC Auth on all endpoints
# HMAC_ENABLED=FALSE
HMAC_SECRET_KEY=1234567890
ENCRYPTION_KEY=1234567890

API_URL=http://localhost:3000
# HIDE_STATUS=TRUE
TEST_AUTH_URL=http://localhost:3000/api/testAuth
