HEDERA_NETWORK=testnet

# Make sure that the Operator details below match the Guardian Operator
# account so that token association can still work on the Guardian side.
HEDERA_OPERATOR_ACCOUNT_ID=0.0.999999999
HEDERA_OPERATOR_PRIVATE_KEY=012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345

GUARDIAN_API_URL=http://localhost:4200/api/v1

# Disable HMAC Auth on all endpoints
# HMAC_ENABLED=FALSE
HMAC_SECRET_KEY=1234567890

API_URL=http://localhost:3000
# HIDE_STATUS=TRUE
TEST_AUTH_URL=http://localhost:3000/api/testAuth

STANDARD_REGISTRY_USERNAME=dovuauthority
STANDARD_REGISTRY_PASSWORD=123

# Set to TRUE to enable public access to the trust chain endpoint /policies/:policyId/trustchains
# This removes the need for HMAC authentication or a role to access the trust chain endpoint
PUBLIC_TRUST_CHAIN_ACCESS=TRUE

# These are used for end to end tests of the API. Make sure to add these to your .env.test.local file
TEST_COOL_FARM_POLICY_ID=62f2365b7fe3fa7b888e846d
TEST_AGRECALC_POLICY_ID=62f27a007fe3fa7b888e8496